.button{
        display:flex;
        margin-top:2rem; 
        background-color:#f5dfe9 ;
        align-content: center;
        justify-content: center;
        padding-top:0.75rem;
        padding-bottom:0.75rem; 
        padding-left:2rem; 
        padding-right:2rem; 
        height: 4rem;
        min-width: 2rem; 
        color:black;
        border-style: none;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        align-items: center;
        text-transform: lowercase;
        border-radius: 0.25rem;
        width:100%; 


}