@use '../src/partials/global.scss' as *; 

.App {
  text-align: center;
  
  &__nav{
    padding-top: 3rem; 
  }
  &__title{
      font-family: 'Special Elite', system-ui;
      font-size: 5rem;
      margin:0; 

  }
  &__subtitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top:0.5rem;
  }
  
}

.form{
  display: flex;
  flex-direction: column;
  &__container{
    display: flex;
    padding-bottom:1rem; 

  }
  &__title{
    font-family: 'Special Elite', system-ui;
    margin-top:0.5rem;
    font-size: 2.5rem;
  }
  &__label{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top:0.5rem;
    font-size:1.5rem; 
    padding-right:0.25rem;
  }
  &__input{
    border-radius: 0.25rem;
    border-style: solid ;
    border-color: #f5dfe9;

  }
  &__styling{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__button{
    margin-top: 2rem;
  }

}

main {
  display: flex;
  justify-content: space-around;
}
.list {
  list-style: none;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;

  &__book {
    width: 30%;
  }

  &__box {
    width: fit-content;
    border: black solid 1px;
  }
}
