@use '../src/partials/global.scss' as *; 

.App {
  text-align: center;
  &__nav{
    padding-top: 3rem; 
  }
  &__title{
      font-family: 'Special Elite', system-ui;
      font-size: 5rem;
      margin:0; 

  }
  &__subtitle{
    font-family: 'Poppins', sans-serif;
    margin-top:0.5rem;
  }
  
}

main {
  display: flex;
  justify-content: space-around;
}
.list {
  list-style: none;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;

  &__book {
    width: 30%;
  }

  &__box {
    width: fit-content;
    border: black solid 1px;
  }
}
